@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PP Neue Montreal Mono';
  src: url('/Fonts/PPNeueMontrealMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Eiko';
  src: url('/Fonts/PPEiko-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/Fonts/PPNeueMontreal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Montreal';
  src: url('/Fonts/NeueMontreal-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roxborough CF';
  src: url('/Fonts/RoxboroughCF-RegularItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.text-montreal-mono {
  font-family: 'PP Neue Montreal Mono', sans-serif;
  font-weight: 500;
}
.text-pp-eiko {
  font-family: 'PP Eiko';
}
.text-montreal-medium {
  font-family: 'PP Neue Montreal', sans-serif;
}
.text-montreal-regular {
  font-family: 'Neue Montreal', sans-serif;
}
.text-rox-italic {
  font-family: 'Roxborough CF';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  color: white;
  width: 100%;
  /* overflow-x: hidden; */
  height: 100%;
  background: #161616;
  font-family: 'PP Neue Montreal', sans-serif;
}

canvas {
  touch-action: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1560px;
}

.body-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1360px;
}

.box-big-shadow {
  box-shadow: 2px 9px 15px -7px rgba(0, 0, 0, 0.3);
}

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: theme('colors.secondary.main') theme('colors.body.main');
  }

  *::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }

  *::-webkit-scrollbar-track {
    background: theme('colors.body.main');
  }

  *::-webkit-scrollbar-thumb {
    background: theme('colors.secondary.main');
    border-radius: 6px;
    border: 3px solid theme('colors.body.main');
  }

  *::-webkit-scrollbar-thumb:hover {
    background: theme('colors.secondary.light');
  }
}

@layer utilities {
  .sec-x-padding {
    @apply px-[5px] sm:px-[10px] md:px-[20px] lg:px-[30px];
  }
  .sec-inner-x-padding {
    @apply px-[10px] sm:px-[15px] md:px-[35px] lg:px-[60px];
  }
  .sec-project-x-padding {
    @apply px-2 sm:px-6 md:px-14 lg:px-20;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .nav-height {
    @apply h-[calc(100vh-60px)];
  }

  .btn {
    @apply px-5 py-2 rounded-3xl bg-blue my-5 hover:bg-transparent border border-transparent hover:border hover:text-blue hover:border-blue;
  }

  .color-container {
    @apply flex items-center justify-center px-4 py-4 rounded-full bg-gray-300 backdrop-blur;
  }

  .size-btn-container {
    @apply flex items-center justify-center p-1 rounded-full bg-gray-300 backdrop-blur ml-3 gap-1;
  }

  .size-btn {
    @apply w-10 h-10 text-sm flex justify-center items-center bg-white text-black rounded-full transition-all;
  }

  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5;
  }

  .section-heading {
    @apply text-gray lg:text-6xl md:text-5xl text-3xl lg:mb-0 mb-5 font-medium opacity-0 translate-y-20;
  }
}
